body, html{
    height: 100%;
    background-color: tan;
}
.page_container {
    background-color: seagreen;
    width: 60%;
    margin-left: 15%;
    padding: 50px;
    height: 100%;
    margin-top: -10px;
}

.chair {
    color: tan;
}

.cali {
    color: purple;
}

.page_title {
    text-align: center;
    margin-top: 50px;
    color:powderblue;
}

.bio_content {
    line-height: 24pt;
    font-size: 16pt;
    color: powderblue;
    text-indent: 5%;
}

.line_title {
    border: 2px dashed purple;
}